<div class="howto">
<h1>What's Dinner Assister?</h1>
<h2>A meal planner that saves <span class="color_orange"><i>you</i></span> time and money!</h2>
<ul class="row">
  <li class="col-sm-3">
    <div class="circle yellow"><i class="fa fa-list"></i></div>
    <div class="instructions">
      <h2><a href="/recipes/new">Add recipes</a></h2>
      <p>Whether it's your grandma's secret or recipe found you online, add it to your recipe box.</p>
    </div>
  </li>
  <li class="col-sm-3">
    <div class="circle orange"><i class="fa fa-calendar icon"></i></div>
    <div class="instructions">
      <h2><a href="/plans/new">Create meal plan</a></h2>
      <p>Add recipes to your week menu or let us generate one for you.</p>
    </div>
  </li>
  <li class="col-sm-3">
    <div class="circle red"><i class="fa fa-cart-plus icon"></i></div>
    <div class="instructions">
      <h2><a href="/plans/1/groceries">Grocery list</a></h2>
      <p>Ready to go to the market? Bring your phone and check off items as you grab them.</p>
    </div>
  </li>
  <li class="col-sm-3">
    <div class="circle brown"><i class="fa fa-home"></i></div>
    <div class="instructions">
      <h2><a href="">Cook dinner!</a></h2>
    </div>
  </li>
</ul>
</div>
