<div class="howto">
<h1>What's Dinner Assister?</h1>
<h2>A website to help you plan your meals.</h2>
<hr />
<ul>
  <li class="row">
    <div class="circle col-sm-4 yellow">1</div>
    <div class="col-sm-8 instructions">
      <h3>Add your recipes</h3>
      Whether it's your grandma's secret or a recipe you found online, add it to your online recipe box. 
      You can tags the recipes for easy organization. You can choose to share the recipe with public or keep it private. 
    </div>
  </li>
  <li class="row">
    <div class="circle col-sm-4 orange">2</div>
    <div class="col-sm-8 instructions">
      <h3>Create your meal plans</h3>
      Creating a meal plans is as easy as hitting a button. However, if you don't like what we generated, you can swap out meals or add more recipes to a meal.
    </div>
  </li>
  <li class="row">
    <div class="circle col-sm-4 red">3</div>
    <div class="col-sm-8 instructions">
      <h3>Get your groceries</h3>
      Ready to go to the market? Bring your phone and check off items you got.
    </div>
  </li>
  <li class="row">
    <div class="circle col-sm-4 brown">4</div>
    <div class="col-sm-8 instructions">
      <h3>Prepare your meal</h3>
      No need to wonder what to make today. Viewing today's meal plan is only two click/tap away.
    </div>
  </li>
</ul>
</div>