$primary-color: #58940C;
$light-primary-color: #DEFDD2;
$secondary-color: #FB5F1C;
$light-secondary-color: #FFE6BD;
$secondary-dark-color: #4f3f35;
$dark-gray: #333;
$gray: #CFCFCF;
$light-gray: #EDEDED;
$white: #FFFFFB;
$background: #F6F6EC;
