@import "_colors";

.banner {
  background-image: linear-gradient(#A2DC56, $primary-color);
  padding: 20px;

  img {
    border: 10px solid $white;
  }
}

.recipe {
  line-height: 18px;

  input, select {
    border: 0px;
    border-bottom: 1px solid $gray;
    width: 100%;
  }

  textarea {
    border: 0px;
    height: 300px;
    width: 100%;
    min-width: 270px;
    overflow: auto;
    resize: vertical;
    border: 1px solid $gray;
    background-color: $white;
  }

  label {
    padding: 0px;
    line-height: 16px;
  }

  .ingredients {
    button {
      max-width: 200px;
      margin: 16px;
      margin-left: 0;
      font-size: 1em;
    }

    li {
      padding-left: 5px;
    }

    li:nth-child(even) {
      background: $light-secondary-color;
    }
  }

  .directions input[type="checkbox"], .ingredients input[type="checkbox"] {
      width: auto;
      margin-right: 4px;
  }

  .recipe-label {
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 8px;
  }

  .recipe-value {

  }

  img {
    width: 100%;
    border: 1px solid $light-gray;
  }

  .row {
    padding-bottom: 16px;
  }

  ul {
    padding-left: 16px;
  }

  .form-photo {
    padding: 1px;
    text-align: center;
    input {
      border: 0px;
      display: block;
    }

    .icon {
      position: absolute;
      right: 16px;
      top: 8px;
      color: $light-gray;
      opacity: 0.8;
    }

    img {
      width: auto;
      max-width: 95%;
      height: 250px;
      border: 0;
    }
  }

  .recipe_tags {
    display: block;
    list-style: none;

    #tag_list {
      min-height: 150px;
    }

    .tag {
      cursor: default;
      width: auto;
    }

    li {
      display: inline-block;
      margin: 16px;
      background-color: $white;
      border-radius: 6px;
      margin: 5px;
      padding: 5px;
      padding-right: 10px;
      padding-left: 7px;
      input {
        background-color: $light-gray;
      }
    }
  }
}

.tag_list, .recipe_list {
  text-align: center;

  img {
    width: 100%;
  }

  a {
    color: $dark-gray;
  }

  a:hover, a:focus {
    color: $secondary-color;
  }
}

.tag_list {
  img {
    box-shadow: 0px 1px 3px $gray;
    border: 10px solid #FFF;
  }

  li {
    padding: 0;
    border: 15px solid transparent;
  }

  span {
    font-size: 2em;
    background-color:rgba(256, 256, 256, 0.7);
    position: absolute;
    bottom: 10px;
    left:0px;
    width: 100%;
    margin-right: 130px;
  }

}

.tt-menu {
  background-color: #FFF;
  width: 100%;
  border: 1px solid $light-gray;
  border-top: none;
  padding: 5px;
}
