@import "_colors";



/*
orange: #FB5F1C;
red: #a82d1c;
brown: 4f3f35;
#623621

  background-color: #623621;
  background-image: linear-gradient(#a82d1c, $secondary-color);
*/
html {
    height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: $background;
  color: $dark-gray;
  font-family: 'Georgia', serif, 'Arial';
  font-size: 16px;
}

a {
  color: $secondary-color;
  text-decoration: none;
}

a:hover {
  color: $dark-gray;
}

@media (min-width: 768px) {
  .nav-profile {
    float: right;
  }

  .nav-profile li {
    list-style: none;
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
  }

}

.navbar-inverse .navbar-toggle  {
  background-color: $primary-color;
  border-color: $light-gray;
  color: $dark-gray;
}

.body-wrapper {
  background-color: $white;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form  {
  border-color: $secondary-color;
}

header {
  background-color: $secondary-dark-color;
  a {
    color: $white;
  }

  a:hover, a:focus {
    color: $primary-color;
    background-color: $white;
  }
}

nav {
  font-family: 'Roboto', sans-serif;
  position: fixed;
  z-index: 100;
  width: 100%;
  color: $white;
  padding-right: 15px;

}

.navbar-brand {
  margin: 0;
  padding: 7px;
  font-family: 'Pacifico', cursive;
  font-size: 2em;
}

.content {
  padding: 1em 2.5em;
}

.field {
  padding-bottom: 1em;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input, textarea {
  background-color: $background;
}

button, .btn, input[type="submit"] {
  border: 1px solid $gray;
  background-color: $light-gray;
  color: $dark-gray;
  margin-top: .5em;
  margin-bottom: .5em;
  width: 50%;
  font-size: 1.3em;

  a {
    text-decoration: none;
  }

  a:hover {
    color: $primary-color;  
  }
}

.btn_primary, input[type="submit"] {
  background-color: $primary-color;
  border: 1px solid $light-gray;
  color: $white;

  a {
    color: $white;
  }
}

.btn_primary:hover, input[type="submit"]:hover {
  background-color: $dark-gray;
}

.title {
  font-size: 2.5em;
  color: $primary-color;
}

ul {
  list-style: none;
}

.profile {
  input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid $light-gray;
  }

  input[type="submit"] {
    padding: 10px;
    width: 200px;
    font-size: 16px;
  }
}

.circle {
  border: 3px solid $dark-gray;
  border-radius: 50%;
  color: $dark-gray;
  display: block;
  font-size: 1.7rem;
  font-weight: 600;
  height: 3.2rem;
  line-height: 1.7em;
  margin: 0px auto 1rem;
  text-align: center;
  width: 3.2rem;
}