/*009585
1ABC9C
*/

html {
    height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*background-image: linear-gradient(10deg, #1ABC9C 0px, #76DACF 100%);*/
  background-color: #FFFFFF;
  color: #343434;
  font-family: 'Georgia', serif, 'Arial';
}

nav {
  font-family: 'Roboto', sans-serif;
  position: fixed;
  z-index: 100;
  width: 100%;
  color: #FFFFFF;
  background-color: #FF4618;
  /*padding: 2px;*/
  padding-right: 15px;
}

@media (min-width: 768px) {
  .nav-profile {
    float: right;
  }

  .nav-profile li {
    list-style: none;
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
  }

}

.body-wrapper {
  background-color: #FFF;
}

nav a {
  color: #FFFFFF;
}

nav a:hover, nav a:focus {
  /*color: #A2D9B4;*/
  color: #333;
}

.nav-main a:hover, .nav-main a:focus {
  color: #ED4747;
  background-color: #FFFFFF;
}

.banner {
  background-color: #1ABC9C;
  background-image: linear-gradient(#1ABC9C, #50DEBD);
  padding: 20px;
}

.banner img {
  border: 10px solid #FFF;
}
  /*background-color: #1ABC9C;#A2D9B4; #76DACF */
  /*background-color: #009585;*/

.content {
  background-color: #FFF;
}