@import "_colors";

html {
    height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: $white;
  color: $dark-gray;
  font-family: 'Georgia', serif, 'Arial';
  font-size: 16px;
}

@media (min-width: 768px) {
  .nav-profile {
    float: right;
  }

  .nav-profile li {
    list-style: none;
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
  }

}

.body-wrapper {
  background-color: $white;
}

header {
  background-color: $primary-color;
}

nav {
  font-family: 'Roboto', sans-serif;
  position: fixed;
  z-index: 100;
  width: 100%;
  color: $white;
  padding-right: 15px;

  a {
    color: $white;
  }

  a:hover, nav a:focus {
    color: $dark-gray;
  }
}

.nav-main{
  a:hover, a:focus {
    color: $primary-color;
    background-color: $white;
  }
}

.content {
  background-color: $white;
  padding: 1em;
  padding-bottom: 2em;
}

.field {
  padding-bottom: 1em;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

button, .btn, input[type="submit"] {
  border: 1px solid $mid-gray;
  background-color: $light-gray;
  color: $dark-gray;
  margin-top: .5em;
  margin-bottom: .5em;
  width: 50%;
  font-size: 1.3em;

  a {
    text-decoration: none;
  }

  a:hover {
    color: $primary-color;  
  }
}

.btn_primary, input[type="submit"] {
  background-color: $secondary-dark-color;
  border: 1px solid $light-gray;
  color: $white;

  a {
    color: $white;
  }
}

.btn_primary:hover, input[type="submit"]:hover {
  background-color: $dark-gray;
}

a:hover {
  text-decoration: none;
  color: $dark-gray;
}

.title {
  font-size: 2.5em;
  color: $primary-color;
}

ul {
  list-style: none;
}

.profile {
  input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid $light-gray;
  }

  input[type="submit"] {
    padding: 10px;
    width: 200px;
    font-size: 16px;
  }
}